<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../views/partials/head %>
  <link rel='stylesheet' href='/stylesheets/aboutus.css' />
  <script src="/javascripts/cursor_particles.js"></script>
</head>

<body>
  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="center">

    <div class="titleblock">
      <img class="logo" src="/images/favicon/android-chrome-512x512.png" />
      <div class="title">Perfect Grandkid</div>
    </div>

    <div class="contributors">
      Contributors:
      <a href="files/resume_ChenMiffy.pdf" target="_blank">Miffy Chen</a>,
      <a href="files/resume_MunAnna.pdf" target="_blank">Anna Mun</a>,
      <a href="files/resume_ChenCici.pdf" target="_blank">Cici Chen</a>
    </div>

  </div>

  <!-- <footer>
    <% include ../views/partials/footer %>
  </footer> -->

</body>

</html>