<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../views/partials/head %>
  <link rel='stylesheet' href='/stylesheets/grandkidmodel.css' />
</head>

<body>
  <header>
    <% include ../views/partials/header %>
  </header>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <a rel="ar" href="/usdz/stratocaster.usdz">
    <img src="/usdz/stratocaster.jpg" alt="" width="250" height="250" />
  </a>

  <a rel="ar" href="/usdz/gramophone.usdz">
    <img src="/usdz/gramophone.jpg" alt="" width="250" height="250" />
  </a>

  <a rel="ar" href="/usdz/redchair.usdz">
    <img src="/usdz/redchair.jpg" alt="" width="250" height="250" />
  </a>

  <a rel="ar" href="/usdz/retrotv.usdz">
    <img src="/usdz/retrotv.jpg" alt="" width="250" height="250" />
  </a>

</body>

</html>