<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../views/partials/head %>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="center">

    <div class="titleblock">
      <img class="logo" src="/images/favicon/android-chrome-512x512.png" />
      <div class="title">Perfect Grandkid</div>
    </div>

    <div class="chatbot">
      <iframe src="https://perfectgk2019.azurewebsites.net">
      </iframe>
    </div>

    <!-- <div id="bot"></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script>
      BotChat.App({
        directLine: { secret: direct_line_secret },
        user: { id: 'userid' },
        bot: { id: 'botid' },
        resize: 'detect'
      }, document.getElementById("bot"));
    </script> -->

  </div>

</body>

</html>