<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/js.js'></script>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</body>

</html>